/* MEDIA QUERIES */

/* General mobile styles */
@media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    #desktop-nav {
      display: none;
    }
  
    #hamburger-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5vw;
      background-color: #ffffff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      height: 10vh;
    }
  
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    .menu-links {
      position: absolute;
      top: 10vh;
      right: 0;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
      background-color: #ffffff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .menu-links.open {
      max-height: 300px;
    }
  
    .hamburger-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 24px;
    }
  
    .icon {
      width: 25px;
    }
  
    #profile, #about, #skills, #projects, #contact {
      padding: 4vh 5vw;
    }
  
    .section__text__p1 {
      font-size: 1.2rem;
    }
  
    .title {
      font-size: 2.5rem;
    }
  
    .section__text__p2 {
      font-size: 1.2rem;
    }
  
    .btn-container {
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .btn {
      width: 100%;
      padding: 1rem;
      border-radius: 1rem;
    }
  
    .article-container {
      flex-direction: column;
    }
  
    article {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .project-img {
      width: 100%;
    }
  
    .contact-info-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .contact-info-container p {
      font-size: 1rem;
    }
  
    .contact-icon {
      height: 1.5rem;
    }
  
    footer .nav-links {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  
    footer .nav-links li a {
      font-size: 1rem;
    }
  }
  
  /* Very small devices (phones, 320px and up) */
  @media (max-width: 320px) {
    .btn {
      padding: 0.75rem;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .section__text__p1 {
      font-size: 1rem;
    }
  
    .section__text__p2 {
      font-size: 1rem;
    }
  }
  